[Unit]
Description=mpd Service

[Service]
Restart=on-failure
ExecStart=sh -c 'exec /usr/bin/mpd --no-daemon $HOME/.config/mpd/mpd.conf'
RestartSec=10

[Install]
WantedBy=default.target
