[Unit]
Description=mpd Service

[Service]
Restart=on-failure
ExecStartPre=/usr/bin/sed -i 's/^state: .*$/state: pause/' %h/.config/mpd/store/state
ExecStart=/usr/bin/mpd --no-daemon %h/.config/mpd/mpd.conf
RestartSec=10

[Install]
WantedBy=default.target
