configuration {
/*	modi: "window,run,ssh";*/
  width: 800;
  lines: 10;
  columns: 1;
  font: "mono 12";
  font: "DejaVu Sans Mono for Powerline 12";
  show-icons: true;
  ssh-command: "{terminal} -e "{ssh-client} {host}"";
  icon-theme: "Enlightenment-X";
}
/*import "~/.local/share/rofi/themes/gruvbox-light-custom.rasi"*/
