[submodule "github.com/powerline/fonts"]
	path = github.com/powerline/fonts
	url = https://github.com/powerline/fonts.git
[submodule "github.com/nonpop/xkblayout-state"]
	path = github.com/nonpop/xkblayout-state
	url = https://github.com/nonpop/xkblayout-state.git
[submodule "github.com/robbyrussell/oh-my-zsh"]
	path = github.com/robbyrussell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "totp"]
	path = totp
	url = ../totp-cli.git
