[submodule "github.com/powerline/fonts"]
	path = github.com/powerline/fonts
	url = https://github.com/powerline/fonts.git
[submodule "github.com/nonpop/xkblayout-state"]
	path = github.com/nonpop/xkblayout-state
	url = https://github.com/nonpop/xkblayout-state.git
[submodule "github.com/walshc/i3"]
	path = github.com/walshc/i3
	url = https://github.com/walshc/i3.git
[submodule "github.com/acleverpun/i3-blocks-contrib"]
	path = github.com/acleverpun/i3-blocks-contrib
	url = https://github.com/acleverpun/i3-blocks-contrib.git
[submodule "github.com/vivien/i3blocks"]
	path = github.com/vivien/i3blocks
	url = https://github.com/vivien/i3blocks.git
[submodule "github.com/VundleVim/Vundle.vim"]
	path = github.com/VundleVim/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "github.com/eldiaboloz/i3-blocks-contrib"]
	path = github.com/eldiaboloz/i3-blocks-contrib
	url = https://github.com/eldiaboloz/i3-blocks-contrib.git
