[Unit]
Description=Simple Service for GUI cmd %I

[Service]
Restart=on-failure
ExecStart=%h/dev/i3wmonarch/scripts/%I

[Install]
WantedBy=default.target
