[Unit]
Description=Mailpile service
After=network.target

[Service]
Restart=on-failure
ExecStart=/work/dev/mailpile/mp-virtualenv/bin/python /work/dev/mailpile/mp --www=127.0.0.1:54321/ --wait
Environment=MAILPILE_IGNORE_BINARIES=Tor
WorkingDirectory=/work/dev/mailpile

[Install]
WantedBy=default.target
