[Unit]
Description=pactl subcribe Service

[Service]
Restart=on-failure
ExecStart=%h/dev/i3wmonarch/scripts/multimedia/pactl-subscribe

[Install]
WantedBy=default.target
